.department-section{

padding:100px 8%;

background:linear-gradient(
180deg,
#f8fbff,
#eef5ff);

}

.department-header{

text-align:center;

margin-bottom:60px;

}

.department-header span{

color:#2563eb;

font-weight:bold;

letter-spacing:2px;

}

.department-header h2{

font-size:48px;

margin:18px 0;

color:#0f172a;

}

.department-header p{

max-width:700px;

margin:auto;

color:#64748b;

line-height:1.8;

}

.department-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:35px;

}

.department-card{

background:white;

border-radius:30px;

overflow:hidden;

transition:.35s;

box-shadow:0 20px 45px rgba(0,0,0,.08);

}

.department-card:hover{

transform:translateY(-12px);

}

.department-card img{

width:100%;

height:220px;

object-fit:cover;

transition:.4s;

}

.department-card:hover img{

transform:scale(1.08);

}

.department-content{

padding:30px;

}

.department-icon{

width:65px;

height:65px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

border-radius:18px;

background:linear-gradient(
135deg,
#2563eb,
#7c3aed);

color:white;

margin-bottom:18px;

}

.department-content h3{

font-size:26px;

margin-bottom:12px;

color:#0f172a;

}

.department-content p{

color:#64748b;

line-height:1.7;

margin-bottom:25px;

}

.department-content button{

border:none;

padding:14px 30px;

border-radius:40px;

background:#2563eb;

color:white;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.department-content button:hover{

background:#1d4ed8;

}

@media(max-width:768px){

.department-header h2{

font-size:36px;

}

.department-grid{

grid-template-columns:1fr;

}

}