.uploadPage{

padding:35px;

background:#f4f8fc;

min-height:100vh;

}

.uploadHeader{

margin-bottom:30px;

}

.uploadHeader h1{

display:flex;

align-items:center;

gap:15px;

font-size:34px;

color:#1e3a8a;

margin-bottom:10px;

}

.uploadHeader p{

color:#64748b;

}

.uploadCard{

background:white;

padding:35px;

border-radius:22px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

max-width:900px;

margin:auto;

}

.row{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

margin-bottom:20px;

}

.inputBox{

display:flex;

align-items:center;

gap:12px;

background:#f8fafc;

padding:14px 18px;

border-radius:14px;

}

.inputBox svg{

color:#2563eb;

font-size:18px;

}

.inputBox input{

border:none;

outline:none;

background:none;

width:100%;

font-size:15px;

}

select{

padding:16px;

border:none;

border-radius:14px;

background:#f8fafc;

font-size:15px;

outline:none;

}

.uploadArea{

border:2px dashed #3b82f6;

padding:45px;

border-radius:20px;

text-align:center;

background:#eff6ff;

margin:25px 0;

transition:.3s;

}

.uploadArea:hover{

background:#dbeafe;

}

.uploadArea svg{

font-size:55px;

color:#2563eb;

margin-bottom:15px;

}

.uploadArea p{

font-size:18px;

font-weight:600;

margin-bottom:8px;

}

.uploadArea span{

display:block;

margin:12px 0;

color:#64748b;

}

.uploadArea input{

margin-top:15px;

}

.uploadArea small{

display:block;

margin-top:12px;

color:#16a34a;

font-weight:600;

}

.uploadBtn{

width:100%;

padding:16px;

border:none;

border-radius:15px;

background:#2563eb;

color:white;

font-size:17px;

font-weight:600;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

cursor:pointer;

transition:.3s;

}

.uploadBtn:hover{

background:#1d4ed8;

transform:translateY(-3px);

}

@media(max-width:768px){

.row{

grid-template-columns:1fr;

}

.uploadCard{

padding:25px;

}

.uploadHeader h1{

font-size:28px;

}

}