.addAdminPage{

padding:35px;

background:#f4f8fc;

min-height:100vh;

display:flex;

justify-content:center;

}

.addAdminCard{

width:950px;

background:white;

padding:35px;

border-radius:22px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.adminHeader{

display:flex;

align-items:center;

gap:20px;

margin-bottom:35px;

}

.adminIcon{

font-size:60px;

color:#2563eb;

}

.adminHeader h1{

font-size:34px;

margin-bottom:8px;

color:#1e3a8a;

}

.adminHeader p{

color:#64748b;

}

.formGrid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin-bottom:20px;

}

.inputBox{

display:flex;

align-items:center;

gap:12px;

padding:15px;

border:1px solid #dbeafe;

border-radius:14px;

background:#f8fbff;

}

.inputBox svg{

color:#2563eb;

font-size:18px;

}

.inputBox input,

.inputBox select{

border:none;

outline:none;

background:none;

width:100%;

font-size:15px;

}

.full{

margin-bottom:25px;

}

.adminBtn{

width:100%;

padding:18px;

border:none;

border-radius:14px;

background:#2563eb;

color:white;

font-size:17px;

font-weight:600;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:12px;

transition:.3s;

}

.adminBtn:hover{

background:#1d4ed8;

}

@media(max-width:768px){

.formGrid{

grid-template-columns:1fr;

}

.addAdminCard{

width:100%;

}

}